@model PulseNetwork.Models.User

@{
    ViewBag.Title = "View";
}


<div class="container">
@using (Html.BeginForm())
{        <h1 class="text-primary"><span class="glyphicon glyphicon-user"></span>More About You</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                    <h6>Upload a different photo...</h6>

                    <input type="file" class="form-control">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                    This is an <strong>.alert</strong>. Use this to show important messages to the user.
                </div>
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FullName, htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

            <button type="submit" value="Create" class="btn btn-default">Submit</button>
            </form>
        </div>


</div>

<hr>
}
</div>
