@model IEnumerable<PulseNetwork.Models.Question>



@{
    ViewBag.Title = "Index";
    
}


 

<div class="container" style="padding-top: 60px;">
    <div class="panel panel-default panel-order">
        <div class="panel-heading">
            <strong>New Questions</strong>
            <div class="btn-group pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Filter Questions <i class="fa fa-filter"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Available to Answer</a></li>
                        <li><a href="#">All Questions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">

@foreach (var item in Model) { 
            <div class="row">
                <div class="col-md-1"><img src="~/Content/img/avatar.png" class="media-object"></div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><span>Level: 10  </span><a href="~/Question/ViewQuestion/@Html.DisplayFor(modelItem => item.ID)" class="btn btn-primary btn-xs"><i class="fa fa-certificate"></i> Answer</a></div>
                            <span><strong>@Html.DisplayFor(modelItem => item.QuestionTitle)</strong></span>
                            <span class="label label-info">JBOSS</span>
                            <br>
                            <span>@Html.DisplayFor(modelItem => item.QuestionBody)</span>
                            <br>
                            <span>Answers: 4</span>
                            <br>
                            
                        </div>
                        <div class="col-md-12">
                            question posted: @Html.DisplayFor(modelItem => item.DatePosted) by <a href="#">@Html.DisplayFor(modelItem => item.UserID) </a>
                        </div>
                    </div>
                </div>
            </div>
        }
            
        <div class="panel-footer">
            <ul class="pagination">
                <li class="active"><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
</div>